@model List<Product>
<div class="row g-sm-4 g-3">
    <div class="col-xxl-12 ratio_110">
        <div class="slider-6 img-slider">
            @foreach (var item in Model)
            {
                <div>
                    <div class="product-box-5 wow fadeInUp">
                        <div class="product-image">
                            <a href="product-left-thumbnail.html">
                                <img src="~/assets/images/fashion/product/@item.ImageUrl"
                                     class="img-fluid blur-up lazyload bg-img" alt="">
                            </a>

                            <a href="javascript:void(0)" class="wishlist-top" data-bs-toggle="tooltip"
                               data-bs-placement="top" title="Wishlist">
                                <i data-feather="bookmark"></i>
                            </a>

                            <ul class="product-option">
                                <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                        <i data-feather="eye"></i>
                                    </a>
                                </li>

                                <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                    <a href="compare.html">
                                        <i data-feather="refresh-cw"></i>
                                    </a>
                                </li>

                                <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                    <a href="wishlist.html" class="notifi-wishlist">
                                        <i data-feather="heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="product-detail">
                            <a href="product-left-thumbnail.html">
                                <h5 class="name">@item.Name</h5>
                            </a>

                            <h5 class="sold text-content">
                                <span class="theme-color price">$@item.Price</span>
                                <del>28.56</del>
                            </h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>     