@model TopTrending

<form class="forms-sample" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>SubText</label>
        <textarea asp-for="SubText" class="form-control" id="SubText"></textarea>
        <span asp-validation-for="SubText" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Content</label>
        <textarea asp-for="Content" class="form-control" id="Content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea asp-for="Description" class="form-control" id="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Image</label>
        <input asp-for="ImageFile" class="form-control">
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mr-2">Create</button>
    <a class="btn btn-light" asp-action="index">Cancel</a>
</form>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('SubText');
    CKEDITOR.replace('Content');
    CKEDITOR.replace('Description');

    $('form').submit(function () {
        for (var instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    });
</script>
