@model TopTrending
@{
    ViewData["Title"] = "Delete";
}
<img src="~/assets/images/fashion/home-banner/@Model.ImgUrl" width="300px" height="400px" />
<h4>@Model.SubText</h4>
<h4>@Model.Content</h4>
<h4>@Model.Description</h4>

<form method="post" asp-action="delete" asp-route-id="@Model.Id">
    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    <a asp-controller="toptrending" asp-action="index">Cancel</a>
</form>

